header {
    .bg-dark {
        background: transparent !important;
        transition: 0.75s ease;
        -webkit-transition: 0.75s ease;
        -moz-transition: 0.75s ease;
        -ms-transition: 0.75s ease;
        -o-transition: 0.75s ease;
        &.scrolled {
            background: #000 !important;
        }
    }

    .navbar-nav {
        .nav-link {
            font-family: $font-family;
            color: $white !important;
            font-size: 16px;
            font-weight: 300;
            &:hover {
            color: $yellow-primary !important;
            }
        }
    }
}