$background: #000;
$lila-dark: #2B0054;
$yellow-primary: #FFB000;
$white-bg: #fff;
$text: #3D3D3D;
$title: #000000;
$white-text: #fff;
$font-family: 'Sofia Pro', sans-serif;
$font-size: 16px;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $background;
    font-size: $font-size;
    font-family: $font-family;
}

a {
    color: $yellow-primary;
}

html {
    scroll-behavior: smooth;
}

@import "header";
@import "main";